/* _variables.css */

/* Font Sizes */
:root {
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  /* Border Radius */
  --border-radius: 0px;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}